/* RESET */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

figure {
  margin: 0;
}

ul {
  list-style: none;
}

/*img {
  display: block;
  width: 100%;
  height: auto;
}*/

input,
button,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* CLEARFIX */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* STYLING */

body {
  background: lightgray;
}

/* HOME PAGE */
#main {
  width: 695px;
  padding: 0 40px 0 40px;
  margin: 0 auto;
  background: #fff;
}


/* ARTICLE SHOW */

.articles > li:first-child {
  background: transparent;
  width: 695px;
  margin: 20px 0;
  padding: 0;
  min-height: 0;
}

.articles > li:first-child > article > figure {
  float: right;
}

.articles > li:first-child > article > hgroup {
  float: left;
  width: 185px;
  margin-top: 10%;
}

.articles > li {
  float: left;
  width: 210px;
  padding: 0 10px;
  margin-bottom: 20px;
  min-height: 500px;
  border-bottom: 1px solid lightgray;
}

.articles > li:nth-child(3n+3) {
  border-right: 1px solid lightgray;
  padding: 0 10px;
}

.articles > li:nth-child(3n+2) {
  border-right: 1px solid lightgray;
}

figcaption {
  font-size: 12px;
  color: lightgray;
  text-transform: uppercase;
}

.article-info > hgroup > a > h1 {
  margin-top: 10px;
  font-size: 24px;
  color: #000;
  font-weight: 900;
}

.article-info > hgroup > h5 {
  margin-top: 10px;
  font-size: 14px;
  color: #000;
  font-weight: 300;
}
